{
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "node",
    "import",
    "promise",
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "es2021": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {
    "artifacts": false,
    "contract": false,
    "assert": false,
    "web3": false,
    "expect": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
