.header-github-link {
  padding-right: 24px;

  &:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%231C1E21' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M15 22V18.13C15.0375 17.6532 14.9731 17.1738 14.811 16.7238C14.6489 16.2738 14.3929 15.8634 14.06 15.52C17.2 15.17 20.5 13.98 20.5 8.52C20.4997 7.12383 19.9627 5.7812 19 4.77C19.4559 3.54851 19.4236 2.19835 18.91 0.999999C18.91 0.999999 17.73 0.649999 15 2.48C12.708 1.85882 10.292 1.85882 8 2.48C5.27 0.649999 4.09 0.999999 4.09 0.999999C3.57638 2.19835 3.54414 3.54851 4 4.77C3.03013 5.7887 2.49252 7.14346 2.5 8.55C2.5 13.97 5.8 15.16 8.94 15.55C8.611 15.89 8.35726 16.2954 8.19531 16.7399C8.03335 17.1844 7.96681 17.6581 8 18.13V22M8 19C3 20.5 3 16.5 1 16L8 19Z'/%3E%3C/svg%3E")
      no-repeat;
    content: '';
    display: flex;
    height: 24px;
    width: 24px;

    html[data-theme='dark'] & {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M15 22V18.13C15.0375 17.6532 14.9731 17.1738 14.811 16.7238C14.6489 16.2738 14.3929 15.8634 14.06 15.52C17.2 15.17 20.5 13.98 20.5 8.52C20.4997 7.12383 19.9627 5.7812 19 4.77C19.4559 3.54851 19.4236 2.19835 18.91 0.999999C18.91 0.999999 17.73 0.649999 15 2.48C12.708 1.85882 10.292 1.85882 8 2.48C5.27 0.649999 4.09 0.999999 4.09 0.999999C3.57638 2.19835 3.54414 3.54851 4 4.77C3.03013 5.7887 2.49252 7.14346 2.5 8.55C2.5 13.97 5.8 15.16 8.94 15.55C8.611 15.89 8.35726 16.2954 8.19531 16.7399C8.03335 17.1844 7.96681 17.6581 8 18.13V22M8 19C3 20.5 3 16.5 1 16L8 19Z'/%3E%3C/svg%3E")
        no-repeat;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}

.header-twitter-link {
  padding-top: 5px;

  &:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%231C1E21' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M23 0.999985C22.0424 1.67546 20.9821 2.19209 19.86 2.52999C19.2577 1.8375 18.4573 1.34668 17.567 1.12391C16.6767 0.901145 15.7395 0.957181 14.8821 1.28444C14.0247 1.6117 13.2884 2.19439 12.773 2.9537C12.2575 3.71302 11.9877 4.61232 12 5.52998V6.52998C10.2426 6.57555 8.50127 6.1858 6.93101 5.39543C5.36074 4.60506 4.01032 3.43862 3 1.99998C3 1.99998 -1 11 8 15C5.94053 16.398 3.48716 17.0989 1 17C10 22 21 17 21 5.49998C20.9991 5.22144 20.9723 4.94358 20.92 4.66999C21.9406 3.66348 22.6608 2.3927 23 0.999985V0.999985Z'/%3E%3C/svg%3E")
      no-repeat;
    content: '';
    display: flex;
    height: 24px;
    width: 24px;

    html[data-theme='dark'] & {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M23 0.999985C22.0424 1.67546 20.9821 2.19209 19.86 2.52999C19.2577 1.8375 18.4573 1.34668 17.567 1.12391C16.6767 0.901145 15.7395 0.957181 14.8821 1.28444C14.0247 1.6117 13.2884 2.19439 12.773 2.9537C12.2575 3.71302 11.9877 4.61232 12 5.52998V6.52998C10.2426 6.57555 8.50127 6.1858 6.93101 5.39543C5.36074 4.60506 4.01032 3.43862 3 1.99998C3 1.99998 -1 11 8 15C5.94053 16.398 3.48716 17.0989 1 17C10 22 21 17 21 5.49998C20.9991 5.22144 20.9723 4.94358 20.92 4.66999C21.9406 3.66348 22.6608 2.3927 23 0.999985V0.999985Z'/%3E%3C/svg%3E")
        no-repeat;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}
